<section class="content">
<% if current_user.empresa_id != 1%>
 <%@orcamentoempresa  = Orcamentoempresa.busca(current_user.empresa_id).order(created_at: :desc)%>

<div class="row">
       <div class="col-md-4 col-sm-6 col-xs-12">
              <div class="info-box">
                <span class="info-box-icon bg-red"><i class="fa fa-medkit"></i></span>
                <div class="info-box-content">
                  <span class="info-box-text">Novos Orçmentos</span>
                  <br>
                  <div align="center">
                  <span class="info-box-number"><small class="label bg-red"><label id="qtdorcamento"></label></small></span>
                  </div>
                </div><!-- /.info-box-content -->
              </div><!-- /.info-box -->
  </div><!-- /.col -->

<%end%> 
<div class="col-md-4 col-sm-6 col-xs-12">
         <div class="info-box">
           <span class="info-box-icon bg-green"><i class="fa fa-commenting-o"></i></span>
             <div class="info-box-content">
              <span class="info-box-text">Novas mensagens</span>
               <br>
                <div align="center">
                  <span class="info-box-number"><small class="label bg-red"><label id="qtdmsg"></label></small></span>
              </div>
            </div><!-- /.info-box-content -->
         </div><!-- /.info-box -->
  </div><!-- /.col -->
 </div><!-- ./col -->

 <input type="hidden" name="qtdorcamento" value="qtdorcamento">


</section>

<% if current_user.empresa_id == 1%>
	   <%if !current_user.dadosuser%>
	     <%= render 'cadastroBairro' %>
	   <%end%>
<%end%>


<script type="text/javascript">
  
    function busca_qtd_orcamentoempresa(){
        $.ajax({
          url: '<%= busca_qtd_orcamentoempresa_path %>',
          data : {},
          success: function(data){
        
          $("#qtdmsg").text(data.qdtMensagem); 
          $("#qtdorcamento").text(data.qtdSolicitacao);                 
          }
        })
      }

setInterval(function() { busca_qtd_orcamentoempresa();; }, 5000);

busca_qtd_orcamentoempresa();


</script>