<section class="content">

<!--<h2>Dados para acesso pelo aplicativo mensageiro</h2>

 <form role="form">
      <div class="box-body">
			<strong>Código Usuário: </strong><%=current_user.id%> <br>
			<strong>Chave de acesso: </strong><%=current_user.chaveacesso%>
      </div>

       <%#= link_to criaChaveAcesso_path, class: "btn btn-primary" do %>
                  <span class="fa fa-key"></span> Gerar nova Chave de acesso
      <%# end %>
  </form>-->

<H3>Para fazer dowloas  do aplicativo escaneie essse qrCode com a câmera do seu celular.</h3>
<p>É necessŕio habilitar seu celular para instalar aplicativos que não esteja na google play.</p>

<br>

  <img src="http://chart.apis.google.com/chart?cht=qr&chl=http://www.kafama.com.br/downloadapk&chs=120x120" alt="TECHcaffe - QR code"/>

</section>

