<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @situacaoorcamento.nome %>
</p>

<%= link_to 'Edit', edit_situacaoorcamento_path(@situacaoorcamento) %> |
<%= link_to 'Back', situacaoorcamentos_path %>
